.app-top {
  background: linear-gradient(to bottom, #fbc02d 0%,#f8485e 100%);
  height: 150px;
  background-image: url(https://source.unsplash.com/category/nature);
  background-size:cover;
  text-shadow: 1px 1px 10px $color-faded-black;
  position: relative;
}
