
calendar {
  font-size: 30px;
  .header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    
    i {
      cursor: pointer;
    }
  }
  .week {
    display:flex;
    .day {
      flex:1;
      cursor: pointer;
      text-align:center;
      padding:10px;

      &:hover {
        color: gray;
      }

      &.selected {
        font-weight: bold;
      }
    }
  }
}
