entries {
  .entry-list {
    list-style: none;
    background-color: $color-light-gray;
    margin: 0;
    padding: 0;
    font-size: 16px;
    li {
      padding: 0 20px;
      display: flex;
      height: 72px;
      align-items: center;
      justify-content: space-around;
      border-bottom: 1px solid white;
      &.list-header {
        height: 35px;
      }
      .buttons {
        display: flex;
        flex: 1;
        justify-content: space-between;
        button {}
      }
      .project {
        flex: 2;
        display: flex;
        flex-direction: column;
        .key {}
        .title {
          color: $color-gray-text;
        }
      }
      .time {
        flex: 1;
        font-size: 30px;
        input {
          font-size: 30px;
          width: 60px;
          background: transparent;
          border: 0;
        }
        &.empty {
          color: #ccc;
        }
      }
    }
  }
}