$dialog-content-height: 30vh;

append-project {
  display:flex;
  justify-content: center;
  .dialog {
    width: 75%;
    position: absolute;
    top: calc(50% - #{$dialog-content-height});
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 1em;
    background: white;

    .content {
      height: $dialog-content-height;
      overflow-y: scroll;
    }

    .project-list  {
      li {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &:hover {
          background-color: rgba(158,158,158,.2);
          cursor: pointer;
        }

        .project-title {
          color: $color-gray-text;
        }

      }
    }
  }
}
