weekly {
  .header {
    color: $color-faded-black;
    font-size:14px;
    text-align: center;
  }
  .week {
    display:flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding:0;

    li {
      cursor: pointer;
      &:hover {
        color: gray;
      }
    }

    .day {
      flex:1;
      text-align: center;
      display:flex;
      flex-direction: column;
      padding:20px 0;

      .dayInMonth {
        font-size:20px;
      }

      .nameOfDay {
        font-size:16px;
      }

      &.selected {
        background-color: $color-pretty-pink;
        color: white;
        position: relative;
        &:after {
          $arrow-size: 10px;
          content: '';
          height: 0;
          width: 0;
          border-left: $arrow-size solid transparent;
          border-right: $arrow-size solid transparent;
          border-bottom: $arrow-size solid transparent;
          border-top: $arrow-size solid $color-pretty-pink;
          position: absolute;
          left: calc(50% - #{$arrow-size});
          bottom: -($arrow-size*2);
        }
      }
    }
  }
}
