<ul class="entry-list" ng-hide="loading">
  <li class="list-header">{{header}}</li>
  <li ng-repeat="entry in entries">
    <div class="project">
      <span class="id">{{ entry.customer }} {{ entry.project }}</span>
      <span class="title">{{ entry.title }}</span>
    </div>
    <div class="time">
      <input type="text" ng-class="{empty: entry.hours == 0}" ng-blur="updateEntry(entry)" ng-model="entry.hours"/>
    </div>
    <div class="buttons">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
          ng-click="logHour(entry)">
            <i class="material-icons">add</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"
          ng-click="removeHour(entry)">
            <i class="material-icons">remove</i>
        </button>
    </div>
  </li>
</ul>
<div ng-show="loading" class="mdl-spinner mdl-js-spinner is-active"></div>
