<button class="mdl-button mdl-js-button mdl-button--primary" ng-click="openProjectDialog()">
  Legg til prosjekt
</button>

<div class="mdl-dialog dialog" ng-show="showDialog">
  <h4 class="mdl-dialog__title">Legg til prosjekt</h4>
  <form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="filterProjects" ng-model="filterProjects" focus="{{showDialog}}">
    <label class="mdl-textfield__label" for="filterProjects">Filter</label>
  </div>
</form>
  <div class="mdl-dialog__content content">
    <ul class="project-list mdl-list">
        <li
          class="mdl-list__item project"
          ng-repeat="project in projects | filter:filterProjects | orderBy:['customer.name', 'name']"
          ng-click="appendProject(project)"
        >
          <span class="project-data">{{project.customer.name}}</span>
          <span class="project-title">{{project.name}}</span>
      </li>
    </ul>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button close" ng-click="showDialog = false">Lukk</button>
  </div>
</div>
