<table style="padding: 1em"> 
	<thead>
		<tr>
			<th style="text-align: left">Prosjekt</th>
			<th>Mandag</th>
			<th>Tirsdag</th>
			<th>Onsdag</th>
			<th>Torsdag</th>
			<th>Fredag</th>
			<th>Lørdag</th>
			<th>Søndag</th>
		</tr>
	</thead>
	<tr ng-repeat="entry in entries | orderBy:['customer', 'project']">
		<td>
			<span class="customer">{{ entry.customer }}</span> /
      <span class="name">{{ entry.project }}</span>
    </td>
		<td ng-repeat="day in entry.days track by $index" style="width: 4em; text-align: center">
			{{ day }}
		</td>
	</tr>
</table>